{% extends 'forum/base.html' %}
{% block scripts %}
{% endblock scripts %}

{% block styles %}
{% endblock styles %}

{% block pagetitle %}{{ category.name }}{% endblock pagetitle %}

{% block content %}
    <table id="threads" class="table-bordered">
        {% for thread in threads %}
            <tr><td class="thread">
                <a href="{% url 'forum:thread_view' thread_id=thread.id %}">
                {{ thread.name }}</a>
            </td></tr>
        {% endfor %}
    </table>
{% endblock content %}