{% extends 'forum/base.html' %}
{% block scripts %}
{% endblock scripts %}

{% block styles %}
{% endblock styles %}

{% block pagetitle %}DjangoLearners{% endblock pagetitle %}
{% block content %}
    <h1>DjangoLearners</h1>
    <table id="sections" class="table-bordered">
        {% for section in sections %}
            <tr><td class="section">
                <a href="{% url 'forum:section_view' section_id=section.id %}">
                {{ section.name }}</a>
            </td></tr>
        {% endfor %}
    </table>
{% endblock content %}